@{ 
    ViewData["Title"] = "7-c.win";
}
@section Scripts {
    <script src="~/js/mainpage.min.js"></script>
}

@section AddToHead {
    <link href="~/css/Home.css" rel="stylesheet" />
}
@section AddToNavbar {
    <form class="form-inline my-2 my-lg-0" id="postbin">
        @Html.AntiForgeryToken()
        <button class="btn btn-dark" type="submit">Create</button>
    </form>
}


<textarea rows="10" cols="50" name="content" id="codemirror-area"></textarea>
