<!DOCTYPE html>
<html>
    <head>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.min.css" integrity="sha256-Zg9EoB1hB8n8EVhx/D07lT5dD3ZZqjJbxlDmHx8jsMc=" crossorigin="anonymous" />
        <link href="~/css/Layout.css" rel="stylesheet">
        @RenderSection("AddToHead", required: false)
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-dark bg-dark">
            <a href="/" class="navbar-brand">7-c.win</a>
        </nav>
        @RenderBody()
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.31.0/codemirror.min.js" integrity="sha256-eue5ceZRwKVQ1OXOZSyU7MXCTZMlqsPi/TOIqh1Vlzo=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="~/js/bundle.min.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
